$logo-orange: #e76f39;
$logo-red:    #b92835;
$logo-blue:   #008089;
$logo-green:  #70a84b;
$logo-black:  #1d1f21;

$white: #fff;

.badge--logo-blue {
  color: $white;
  background-color: $logo-blue;
}
